.env
.env.backup
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

/public/hot
storage/*.key

.DS_Store
Thumbs.db
*.log
*.apk
*.exe
*.zip
*.jks
nativephp.lock


